---
// 移除当前 URL 路径并移除末尾的斜杠（如果存在）
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");

// 从路径获取 URL 数组
// 例如：/tags/tailwindcss => ['tags', 'tailwindcss']
const breadcrumbList = currentUrlPath.split("/").slice(1);

// 如果面包屑是 首页 > 文章 > 1 <等>
// 将 文章 替换为 文章（第 x 页）
breadcrumbList[0] === "posts" &&
  breadcrumbList.splice(0, 2, `文章（第 ${breadcrumbList[1] || 1} 页）`);

// 如果面包屑是 首页 > 标签 > [标签名] > [页码] <等>
// 将 [标签名] > [页码] 替换为 [标签名]（第 x 页）
breadcrumbList[0] === "tags" &&
  !isNaN(Number(breadcrumbList[2])) &&
  breadcrumbList.splice(
    1,
    3,
    `${breadcrumbList[1]} ${
      Number(breadcrumbList[2]) === 1
        ? ""
        : "（第 " + breadcrumbList[2] + " 页）"
    }`
  );
---

<nav class="breadcrumb" aria-label="面包屑导航">
  <ul>
    <li>
      <a href="/">首页</a>
      <span aria-hidden="true">&raquo;</span>
    </li>
    {
      breadcrumbList.map((breadcrumb, index) =>
        index + 1 === breadcrumbList.length ? (
          <li>
            <span
              class={`${index > 0 ? "lowercase" : "capitalize"}`}
              aria-current="page"
            >
              {decodeURIComponent(breadcrumb)}
            </span>
          </li>
        ) : (
          <li>
            <a href={`/${breadcrumb}/`}>{breadcrumb}</a>
            <span aria-hidden="true">&raquo;</span>
          </li>
        )
      )
    }
  </ul>
</nav>

<style>
  .breadcrumb {
    @apply mx-auto mb-1 mt-8 w-full max-w-3xl px-4;
  }
  .breadcrumb ul li {
    @apply inline;
  }
  .breadcrumb ul li a {
    @apply capitalize opacity-70;
  }
  .breadcrumb ul li span {
    @apply opacity-70;
  }
  .breadcrumb ul li:not(:last-child) a {
    @apply hover:opacity-100;
  }
</style>
